{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Contactform</title><meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>home page</title>
</head>
<body>

<h1>Welcome Naresh Browser</h1>
<div>
<a href="/create/">create</a>
<a href="/update/">upadate</a>
<a href="/retrive/">retrive</a>
<a href="/delete/">delete</a>
</div>
<form>
    <table border="2px">

        <tr>
            <th>productnumber</th>
            <th>productname</th>
            <th>productcost</th>
            <th>productclass</th>
            <th>productweight</th>

        </tr>
        {% for i in pdata %}
            <tr>
                <td>{{ i.productnumber }}</td>
                <td>{{ i.productname }}</td>
                <td>{{ i.productcost }}</td>
                <td>{{ i.productclass }}</td>
                <td>{{ i.productweight}}</td>

            </tr>
        {% endfor %}
    </table>
</form>
</body>
</html>
